<html>
    <head>
        <title>
            {{welcomePage}}
        </title>
        <meta charset="utf-8">
    </head>
    <body><h>
       <b>{{>header}}</b><br>
    </h>
    {{> footer}}
</body>
</html>